.ideaPage {
	position: relative;
	top: 5rem;
	font-size: larger;
	background-color: #0e4c79;
	height: 90.2vh;
}

.ideaInfo {
	margin-top: 5px;
	margin-left: 2rem;
	margin-right: 2rem;
}

.ideaInfo .header {
	color: #ffffff;
}

.ideas {
	background-color: #d9d9d9;
	border-radius: 0.5rem;
}

.ideaDetail {
	margin: 2rem;
}

.ideaName {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 1.2rem;
}

h2 {
	margin-top: 5px;
}

.ideaProposal {
	font-size: 16px;
	color: 'black';
	padding: 0.8rem;
	background-color: rgb(177, 179, 179);
	width: fit-content;
	margin-top: 1rem;
	border-radius: 0.5rem;
}

.ideaLocation {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.ideaType {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.dropbtn {
	background-color: #04aa6d;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.ideaDescription {
	padding-bottom: 2rem;
}

.news {
	max-height: 0px;
	overflow: hidden;
}

.news.show {
	max-height: auto;
	max-height: 9999px;
}
