.Home {
  flex: 1;
  position: relative;
  top: 6rem;
  width: 100vw;
}

.island {
  width: 230px;
  height: 240px;
  animation-fill-mode: forwards;
}


body {
  background: #0E4C79;
}

.buttonContainer {
  bottom: -10rem;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.button {
  position: relative;
  display: flex;
  margin: auto;
  bottom: -40px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #6A994E;
  border-radius: 5px;
  cursor: pointer;
}

.islandImg {
  position: absolute;
  justify-content: center;
}

Link {
  text-decoration: none;
}

.headComm {
  position: relative;
  margin-left: 35rem;
  text-decoration: none;
}

.headEvent {
  position: absolute;
  left: 53rem;
  bottom: -25rem;
}

.headIdea {
  position: absolute;
  left: 74rem;
  bottom: -36rem;
}

.headVoting {
  position: absolute;
  left: 80rem;
  top: 14rem;
}

.island1 {
  margin-left: 35rem;
  width: 200px;
  height: auto;
  z-index: 999px;
}

.island2 {
  margin-left: 53rem;
  margin-bottom: -25rem;
  transform: rotate(200deg);
  width: 250px;
  height: auto;
}

.island3 {
  margin-left: 70rem;
  margin-bottom: -35rem;
  transform: rotate(10deg);
  width: 100px;
  height: auto;
}

.island4 {
  position: absolute;
  margin-left: 80rem;
  margin-top: 5rem;
  transform: rotate(80deg);
  width: 140px;
  height: auto;
}


.mapImg {
  position: relative;
  bottom: -8rem;
  margin: 2rem;
  height: auto;
  width: 33rem;
  border-radius: 1%;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.map {
  border-radius: 1%;
  z-index: 5;
  box-shadow: 0 0px 20px -5px #041140;
}

p {
  font-size: large;
  color: #ffff;
}

h3 {
  color: #ffff;
}


/* Ether float */
@keyframes wobleHorizontal {
  0% {
    margin-left: 0px;
  }

  20% {
    margin-left: 9px;
  }

  25% {
    margin-left: 10px;
  }

  50% {
    margin-left: 0px;
  }

  75% {
    margin-left: -10px;
  }

  95% {
    margin-left: -2px;
  }

  100% {
    margin-left: 0px;
  }
}


@keyframes wobleVertical {
  0% {
    margin-top: 0px;
  }

  20% {
    margin-top: 9px;
  }

  25% {
    margin-top: 10px;
  }

  50% {
    margin-top: 0px;
  }

  75% {
    margin-top: -10px;
  }

  95% {
    margin-top: -2px;
  }

  100% {
    margin-top: 0px;
  }
}

.wobble {
  animation:
    wobleHorizontal 10s infinite linear,
    wobleVertical 8s infinite linear;
}


body {
  margin: 0;
  padding: 0;
  background-color: #0E4C79;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*waves*/


.box {
  position: fixed;
  background-color: #0E4C79;
  top: 30rem;
  transform: scale(1.4, 1) rotate(12deg);
  justify-content: center;
  z-index: -10;
  opacity: 0.4;
  left: 0;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
  position: fixed;
  background-color: #59b7d9;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: rgb(172, 189, 213);
  position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #0e6cc4;
  background: -webkit-linear-gradient(#0e6cc4, #2962FF);
  background: linear-gradient(#25a7d7, #1db2e9);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s
}

.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 1) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}