.Home {
  flex: 1;
  position: relative;
  top: 6rem;
  width: 100vw;
}

.island {
  width: 230px;
  height: 240px;
  animation-fill-mode: forwards;
}

body {
  background: #0E4C79;
}
.buttonContainer {
  bottom: -10rem;
  justify-content: center;
  align-items: center;  
  align-items: center;
}

.button {
  position: relative;
  display: flex;
  margin: auto;
  bottom: -40px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color:#6A994E;
  border-radius: 5px;
  cursor: pointer;
}



.islandContainer {
  display: flex;
  flex-wrap: wrap;
}

.islandImg {
  position: absolute;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  justify-content: center;
}

.islandImg .x1 {
  display: flex;
  position: absolute;
}

.islandImg .x2 {
  display: flex;
  position: absolute;
}

.headComm {
  position: relative;
  margin-left: 35rem;
}

.headEvent {
  position: absolute;
  left: 53rem;
  bottom: -25rem;
}

.headIdea {
  position: absolute;
  left: 74rem;
  bottom: -36rem;
}

.headVoting {
  position: absolute;
  left: 80rem;
  top: 14rem;
}

.island1 {
  margin-left: 35rem;
  width: 200px;
  height: auto;
}

.island2 {
  margin-left: 53rem;
  margin-bottom: -25rem;
  transform: rotate(200deg);
  width: 250px;
  height: auto;
}

.island3 {
  margin-left: 70rem;
  margin-bottom: -35rem;
  transform: rotate(10deg);
  width: 100px;
  height: auto;
}

.island4 {
  margin-left: 80rem;
  margin-top: 5rem;
  transform: rotate(80deg);
  width: 140px;
  height: auto;
}


.mapImg {
  position: relative;
  bottom: -8rem;
  margin: 2rem;
  width: 30rem;
  height: auto;
  border-radius: 1%;
  z-index: 5;
  border: 2px solid #192E4D;
}

h3 {
  color: #ffff;
}


/* Ether float */
@keyframes wobleHorizontal {
  0% {
    margin-left: 0px;
  }

  20% {
    margin-left: 9px;
  }

  25% {
    margin-left: 10px;
  }

  50% {
    margin-left: 0px;
  }

  75% {
    margin-left: -10px;
  }

  95% {
    margin-left: -2px;
  }

  100% {
    margin-left: 0px;
  }
}


@keyframes wobleVertical {
  0% {
    margin-top: 0px;
  }

  20% {
    margin-top: 9px;
  }

  25% {
    margin-top: 10px;
  }

  50% {
    margin-top: 0px;
  }

  75% {
    margin-top: -10px;
  }

  95% {
    margin-top: -2px;
  }

  100% {
    margin-top: 0px;
  }
}

.wobble {
  animation:
    wobleHorizontal 10s infinite linear,
    wobleVertical 8s infinite linear;
}